<nav class="navbar navbar-default">
  <div class="container fluid" id="navbarNav">
    <ul class="nav navbar-nav">
      <li> <%= link_to "Look Up Agent", root_path, class: 'nav-link' %> </li>
      <% if admin_signed_in? %>
        <li class=" active">
          <%= link_to "View Agents", salesmen_path, class: "nav-link"%>
        </li>
        <li class="">
          <%= link_to "New Agent", new_salesman_path, class:'nav-link' %>
        </li>
        <li>
          <%= link_to "Log Out", destroy_admin_session_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to "Update Passord", edit_admin_password_path, class: 'nav-link' %>
        </li>
      <% else %>
          <li> <%= link_to "Log In", new_admin_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>
